.icon { 
    width:2rem;
    height: auto;
}
.list-group-item { 
    border:none;
    font-size: 1rem;
}
h2{
    font-weight: bold;
    border-bottom-style: solid;
    border-bottom-color: lightgray;
}