body {
  padding:0;
  margin:0;
  font-family: 'Open Sans', sans-serif;
  background-color: #6c757d;
}

.footer{
  border-top: 8px solid gray;
  font-size: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}